html {
/*    background-color: rgb(244, 201, 208);*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.01) , rgba(0, 0, 0, 0.01)) , url(bg_image1.jpg);
    background-position: center;
    height: 100vh;
    background-size: cover;
    padding-top: 20px;
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-family: 'Lato' , 'Arial' , sans-serif;
    font-weight: 300;
    font-size: 15px;
    text-rendering: optimizeLegibility;
}

h1, h2{
    letter-spacing: 0.5px;
    word-spacing: 4px;
}


.main-heading1 {
    margin-top: 0px;
    margin-left: 60px;
    width: 750px;
    height: 424px;
    float: left;
}

.main-text1 {
    display: inline-block;
    width: 750px;
    height: 150px;
    margin-top: 50px;
    font-family: 'Lato' , 'Arial' , sans-serif;
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
}

.main-text2 {
    display: inline-block;
    margin-left: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    line-height: 45px;
}
.c3 {
    position: absolute;
    width: 615px;
    height: 0px;
    border: 3px solid #f9aa33;
}

.my_img {
    margin-top: 74px;
    margin-left: 220px;
    margin-right: 220px;
    margin-bottom: 50px;
    height: 250px;
    width: 250px;
    display: inline-block;
    float: left;
    margin-bottom: 50px;
    border-radius: 200px;
}

.profiles {
    display: inline-block;
    float: left;
    margin-right: 68px;
}

.profile_images {
    height: 50px;
    width: 50px;
}

.part1, .part2{
    display: inline-block;
    height: 600px;
    width: 550px;
    float: left;
}

.part1{
    margin-left: 100px;
}

.part2{
    margin-left: 200px;
}

.Topic1, .Detail1, .Detail2, .Topic2, .Topic3, .Detail3, .Detail4 {
    display: inline-block;
    border-radius: 30px;
}

.Topic1, .Topic2, .Topic3{
    margin-bottom: 0px;
    width: 540px;
    font-size: 20px;
}

.Topic1{
    margin-top: 100px;
}

.Topic2{
    margin-top: 100px;
}

.Topic3{
    margin-top: 0px;
}

.Detail1, .Detail2, .Detail3, .Detail4{
    background-position: center;
    background-size: cover;
}

.Detail1, .Detail3, .Detail4{
    width: 540px;
    height: 360px;
    padding-left: 10px;
    height: 50vh;
}

.Detail1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.01) , rgba(0, 0, 0, 0.01)) , url(bg_image2.jpg);
}

.Detail3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.20) , rgba(0, 0, 0, 0.20)) , url(bg_image7.jpg);
}

.Detail4{
    background-image: linear-gradient(rgba(0, 0, 0, 0.01) , rgba(0, 0, 0, 0.01)) , url(bg_image6.jpg);
}

.Detail2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.20) , rgba(0, 0, 0, 0.20)) , url(bg_image4.jpg);
    padding: 55px 0px;
    width: 540px;
    height: 240px;
    padding-left: 10px;
    height: 35vh;
}

.list_element {
    font-size: 25px;
    margin-bottom: 20px;
}

.obj {
    display: inline-block;
    margin-left: 50px;
    margin-right: 100px;
    margin-bottom: 50px;
    float: left;
}

.NTSE-Result {
    display: inline-block;
    height: 55;
    padding: 230px 0px;
    width: 400px;
    margin-left: 100px;
    font-size: 40px;
    float: left;
}

.contact-me {
    margin-left: 100px;
    font-size: 20px;
}

.small_images {
    height: 25px;
    width: 25px;
}

.end{
    display: inline-block;
    height: 200px;
    width: 1517px;
}